<div class="content-container">
    <div class="team-header">
        <h1>{{team.teamColor}} team</h1>
        <button class="btn" (click)="clearTeam()">Clear team</button>
    </div>
    <div class="player-container">
        <div *ngFor="let player of team.playerList">
            <app-player-card [player]="player"></app-player-card>
        </div>
    </div>
    <div class="player-addition-container">
        <form [formGroup]="playerForm" class="form">
            <div class="input-group">
                <label class="label" for="code-name">Code name</label>
                <input type="text" id="code-name" class="input" formControlName="codeName">
            </div>
        </form>
        <button [disabled]="playerForm.invalid" class="btn" (click)="addPlayer()">Add player</button>
    </div>
</div>
